@{
    ViewData["Title"] = "Дупликатни числа";
}

<h1 class="text-danger">Изглежда, че сте въвели дупликатни числа</h1>
<h2 class="text-danger">Моля попълнете отново вашият талон <a asp-action="Create" asp-controller="Tickets" class="btn btn-success mb-2">Тук</a></h2>

