@using Toto_Simulator.Data.Entities;
@model User;

@{
    ViewData["Title"] = "Редакция на потребител";
}

<body class="hold-transition login-page">
    <div class="login-box">
        
        <div class="card text-center">
            <div class="card-body login-card-body">
                <p class="login-box-msg fw-bold h2">Редакция на потребител</p>

                <form asp-controller="Administration" asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="input-group mb-3">
                        <input asp-for="FirstName" autocomplete="username" type="text" class="form-control" placeholder="Име">
                       
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger mb-xl-5"></span>
                    <div class="input-group mb-3">
                        <input asp-for="LastName" type="text" class="form-control" placeholder="Фамилия">
                        
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    
                    <div class="input-group mb-3">
                        <input asp-for="UserName" type="text" class="form-control" placeholder="Потребителско име">
                        
                    </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input asp-for="Earnings" type="number" step="0.01" class="form-control" placeholder="Earnings">
                        
                    </div>
                    <span asp-validation-for="Earnings" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                        
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>




                    <div class="row">
                        <!-- /.col -->
                        <div class="w-100">
                            <button type="submit" class="btn btn-warning btn-block">Редакция</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

