@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли, в Тото Симулатор!</h1>
    <p>Играйте най-популярната хазартна игра в България</p>
</div>
