@using Toto_Simulator.Data.Entities
@model IEnumerable<Number>
@{
    ViewData["Title"] = "Всички Числа";
}
<a asp-action="Index" asp-controller="Numbers" class="btn btn-outline-dark">Избери число</a>
<div class="d-flex justify-content-around flex-lg-wrap gap-3">
    @foreach (var number in Model)
    {
        <div class="card flex-column" style="width: 15rem;">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><span class="fw-bold">Число: </span> @number.Value</li>
                <li class="list-group-item"><span class="fw-bold">Срещания: </span> : @number.Ocurrences</li>                                           
            </ul>
        </div>
    }
</div>