@using Toto_Simulator.Data.Entities
@model Number

<div class="input-group input-group-sm mb-2 align-content-center vw-100">
    <form asp-action="Index" method="post">
    <label for="searchedNum" class="form-label">Избери число</label>
    <select name="searchedNum" class="form-control mb-2">
        @for (int i = 1; i < 50; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
        <button type="submit" class="btn btn-outline-dark w-100">
       <i class="fas fa-search"></i>
    </button>
    </form>
</div>
@if (Model != null)
{
<div class="card flex-column mb-2" style="width: 15rem;">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><span class="fw-bold">Число: </span> @Model.Value</li>
        <li class="list-group-item"><span class="fw-bold">Срещания: </span> : @Model.Ocurrences</li>
    </ul>
</div>   
}            
<a asp-action="All" asp-controller="Numbers" class="btn btn-outline-dark">Виж всички числа</a>